.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
}

.img {
}

.navlinkContainer {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  font-size: medium;
}
