.contentContainer {
  width: 80%;
  max-width: 980px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3;
}

.heading {
  font-size: 2em;
  margin-bottom: 2em;
}

.heroWrapper {
  display: flex;
  justify-content: center;
}

.hero {
  object-fit: cover;
  max-height: 550px;
  width: 100vw;
}

.section hr {
  margin: 35px 15%;
}

.section h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
